body{
  direction: rtl;
  background-color: #fafafa;
}

/* override */
.text-primary{
  color: #00acba !important;
}
.card{
  box-shadow: 1px 5px 15px rgba(0,0,0,0.2);
}
a{
  color: #333;
}
a:hover,a:active,a:visited{
  color: #7ccae0;
  text-decoration: none;
}

.btn{
  border-radius: 50px;
}

/* images-sizes */
.small-img{
  width: 30px;
  height: 30px;
}
.med-img{
  width: 50px;
  height: 50px;
}
.large-img{
  width: 80px;
  height: 80px;
}
.user-img img{
  background: #f8f9fa;
  border-radius: 50%;
  object-fit: cover;
}

.user-img img.top{
  margin-top: -40px;
}

/* header */
header{
  background-color: #00acba;
  height: 700px;
  background-attachment: fixed;
  background-size: contain;
}
.innerpage{
  height: 220px;
  background-size: cover;
}
header nav ul li a.nav-link, header nav .user-img h6 a{
  color: #fff;
}

.navbar-brand img{
  width: 100px;
}
header nav .user-img .dropdown-toggle::after{
  display: none;
}

/* Commen */
.tags{
  background: #e4e4e4;
  display: inline-block;
  padding: 4px 5px 1px;
  border-radius: 5px;
}
.tags h6{
  font-size: 12px;
}

.icons i{
  font-size: 30px;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 50%;
  margin-top: -40px;
  border: 2px solid #eee;
  color: #7dc9de;
}
.card-deck.img-top{
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.main-content{
  background: #fff;
  border-radius: 10px;
  border-top: 3px solid #00acba;
}


/* Responsive */
@media screen and (max-width:767px){
  header{
    height: 200px;
  }
  .card{
    margin-top: 1rem;
  }
  .img-top  .card{
    margin-top: 3rem;
  }
  section.mentors, section.entrepreneur,section{
    padding-top: 2rem;
  }
  .card-deck.img-top{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

/* Homepage */
section.mentors, section.entrepreneur{
  background-color: #00acba;
  padding-top: 5rem ;
}

/* Users page */
