body{
  direction: rtl;
  background-color: #fafafa;
}

/* override */
.text-primary{
  color: #00acba !important;
}
.btn-primary{
  background-color:#00acba;
  border-color: #00acba;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:visited,.btn-primary:focus{
  background-color:  #0294a0;
  border-color:  #0294a0;
}
.card{
  box-shadow: 1px 5px 15px rgba(0,0,0,0.2);
}
a{
  color: #333;
}
a:hover,a:active,a:visited{
  color: #7ccae0;
  text-decoration: none;
}

.btn{
  border-radius: 50px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #00acba;
  background-color: #fff;
  border-color: transparent;
  border-bottom: 1px solid #00acba;
}

/* images-sizes */
.s-img{
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
}
.m-img{
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
}
.l-img{
  width: 80px;
  height: 80px;
  border: 3px solid #fff;
}
.xl-img{
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
}
.user-img img{
  background: #f8f9fa;
  border-radius: 50%;
  object-fit: cover;
}
.user-img img.top{
  margin-top: -40px;
}

/* Commen */
/* Tages */
.tags{
  background: #e4e4e4;
  display: inline-block;
  padding: 4px 5px 1px;
  border-radius: 5px;
}
.tags h6{
  font-size: 12px;
}

.icons i{
  font-size: 30px;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 50%;
  margin-top: -40px;
  border: 2px solid #eee;
  color: #7dc9de;
}
.card-deck.img-top{
  margin-top: 3rem;
  margin-bottom: 5rem;
}

form{
  position: relative;
}
form input.form-control{
  font-size: 12px;
}
form .search-icon{
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 12px;
}

/* header */
header{
  background-color: #00acba;
  background-attachment: fixed;
  background-size: contain;
  position: relative;
}
.innerpage{
  background-size: cover;
}
header nav ul li a.nav-link, header nav .user-img h6 a{
  color: #fff;
}

.navbar-brand img{
  width: 100px;
}
header nav .user-img .dropdown-toggle::after{
  display: none;
}

header .user-img .dropdown-menu{
  left: 40px;
  right: auto;
}
nav.navbar.navbar-expand-lg.fixed-top{
  background: #00acba;
}

.bradcramp-title {
  padding-top: 8rem;
  padding-bottom: 2rem;
}

/* sidebar */
.sidebar{
  background: #fff;
  border-radius: 10px;
  border-top: 3px solid #00acba;
}
.sidebar .icons{
  margin-top: -30px;
}
.sidebar .icons i{
  font-size: 20px;
  padding: 0;
  background-color: #ffffff;
  border: 3px solid #00acba;
  color: #7dc9de;
  width: 50px;
  height: 50px;
  line-height: 45px;
  margin-top: 0
}

/* Main-content */
.main-content{
  background: #fff;
  border-radius: 10px;
  border-top: 3px solid #00acba;
}




/* Responsive */
@media screen and (min-width:768px) and (max-width:990px) {
  .navbar-nav{
    border-bottom: 1px solid #ffffff82;
    padding: 1rem;
  }
}
@media screen and (max-width:767px){
  header{
    height: 200px;
  }
  .navbar-nav{
    border-bottom: 1px solid #ffffff82;
    padding: 1rem;
  }
  .card{
    margin-top: 1rem;
  }
  .img-top  .card{
    margin-top: 3rem;
  }
  section.mentors, section.entrepreneur,section{
    padding-top: 2rem;
  }
  .card-deck.img-top{
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

/* Homepage */
section.mentors, section.entrepreneur{
  background-color: #00acba;
  padding-top: 5rem ;
}

/* profile page */
#profile header{
  padding: 8rem 0;
}

header .info-user{
  position: absolute;
  bottom: -2rem;
  width: 100%;
  background-color: #fff;
}

.info-user .user-img{
  margin-top: -4rem;
  position: relative;
}
.info-user .user-img img.top{
  margin-top: 0;
  width: 150px;
      margin-bottom: -30px;
}
.edit{
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 10;
  background: #fff;
  padding: 5px 9px;
  border-radius: 50%;
}
